<div class="row" style="margin-top: 60px;">
  <div class="col-md-9">
    <!--全部类型-->
    <ul class="nav nav-tabs tab-style2 tab-right"
        style="margin-bottom: 1px;border-bottom: 0 solid #ddd;font-size: 18px;">
      <li class="dropdown" style="margin-top:7px;margin-left:5px;"></li>
      <li class="active" (click)="showAllTab(0)">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class=" fa fa-clone"></i></span>
          <span class="text-wrapper">全部类型</span>
        </a>
      </li>
      <li class="" (click)="showAllTab(type.oid)" *ngFor="let type of allType">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class="fa fa-flag-o"></i></span>
          <span class="text-wrapper">{{type.type_name}}</span>
        </a>
      </li>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="position: absolute;">
        <input type="text" nz-input placeholder="input search text" [(ngModel)]="filmName"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchTitle()"><i nz-icon type="search"></i></button>
      </ng-template>
    </ul>

    <!--全部地区-->
    <ul class="nav nav-tabs tab-style2 tab-right"
        style="margin-bottom: 1px;border-bottom: 0 solid #ddd;font-size: 18px;">
      <li class="dropdown" style="margin-top:7px;margin-left:5px;"></li>
      <li class="active" (click)="showLocationTab(0)">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class=" fa fa-clone"></i></span>
          <span class="text-wrapper">全部地区</span>
        </a>
      </li>
      <li class="" (click)="showLocationTab(location.oid)" *ngFor="let location of allLocation">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class="fa fa-flag-o"></i></span>
          <span class="text-wrapper">{{location.type_name}}</span>
        </a>
      </li>
    </ul>

    <!--全部年代-->
    <ul class="nav nav-tabs tab-style2 tab-right"
        style="margin-bottom: 1px;border-bottom: 0 solid #ddd;font-size: 18px;">
      <li class="dropdown" style="margin-top:7px;margin-left:5px;"></li>
      <li class="active" (click)="showYearTab(0)">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class=" fa fa-clone"></i></span>
          <span class="text-wrapper">全部年代</span>
        </a>
      </li>
      <li class="" (click)="showYearTab(year.oid)" *ngFor="let year of allYears">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class="fa fa-flag-o"></i></span>
          <span class="text-wrapper">{{year.type_name}}</span>
        </a>
      </li>
    </ul>

    <!--全部特色-->
    <ul class="nav nav-tabs tab-style2 tab-right"
        style="margin-bottom: 1px;border-bottom: 0 solid #ddd;font-size: 18px;">
      <li class="dropdown" style="margin-top:7px;margin-left:5px;"></li>
      <li class="active" (click)="showMySelfTab(0)">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class=" fa fa-clone"></i></span>
          <span class="text-wrapper">全部特色</span>
        </a>
      </li>
      <li class="" (click)="showMySelfTab(myself.oid)" *ngFor="let myself of allMyself">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class="fa fa-flag-o"></i></span>
          <span class="text-wrapper">{{myself.type_name}}</span>
        </a>
      </li>
    </ul>

    <div class="row" style="height: 750px; overflow-y: auto;margin-left: 4px;padding-bottom: 60px">
      <div *ngFor="let film of films" class="col-md-4 col-sm-4 col-md-4 productStyle">
        <div class="thumbnail" style="margin-top: 10px;">

          <div class="col-md-6" style="margin-top: 6px;">
            <a><img [routerLink]="['/commentDetail']" [queryParams]="{ filmOid : film.oid , userOid: currentUser.oid }" class="imageStyle" src="{{film.image_path}}"
                    style="margin-left: 4px;"></a>
          </div>
          <div class="col-md-6" style="margin-top: 6px;">
            <nz-rate *ngIf="film.star != '0'" [ngModel]="film.star" nzDisabled></nz-rate>
            <label *ngIf="film.star == '0'" class="text-muted" style="font-size: 16px;">暂无评分&nbsp;</label>
            <a [routerLink]="['/commentDetail']" [queryParams]="{ filmOid : film.oid , userOid: currentUser.oid }">
              <p style="margin-top: 4px;">{{film.film_name}}</p>
              <p style="margin-top: 4px;">{{film.film_language}}</p>
              <p style="margin-top: 4px;">{{film.show_time}}</p>
              <p style="margin-top: 4px;">{{film.hour}}</p>
            </a>
          </div>
          <div>
          </div>
        </div>
      </div>

      <!-- 无数据展示 start-->
      <div *ngIf="isExistFilm" class="padding-md" style="margin:15px 10px 15px 0;padding-left:0;padding-bottom:0;">
        <div class="smart-widget-body poi text-center" style="min-height: 300px; background-color: rgb(255, 255, 255); border-radius: 3px; display: flex; height: 442px;">
          <div style="margin:auto;">
            <img src="assets/img/film/comment/nofilm.png" alt="" style="margin-bottom:15px;"><br>
            <span class="text-muted">暂无数据</span>
          </div>
        </div>
      </div>
      <!-- 无数据展示 end-->

    </div>
  </div>
  <div class="col-md-2" style="margin-top: 7px;width: 324px">
    <div class="smart-widget-header" style="border-bottom: none;border-radius:0;margin-left: 38px;">
      <a class="tooltips" style="font-size: 22px;color: rgb(115,115,115);"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;热度排行榜...</a>
    </div>
    <div class="smart-widget-inner" style="margin-left: 55px;">
      <ul class="list-group to-do-list sortable-list no-border">
        <div *ngFor="let filmHot of filmHots; let i = index">
          <div *ngIf="i < 3" style="height: 133px;margin-bottom: 2px;">
            <a [routerLink]="['/commentDetail']" [queryParams]="{ filmOid : filmHot.oid , userOid: currentUser.oid }">
              <li style="list-style:none">
                <span style="color: rgb(255,110,0);">{{i + 1}}. </span>
                <span class="ck1" style="color: rgb(255,110,0);">{{filmHot.film_name}}</span>
              </li>
              <img src="{{filmHot.image_path}}" alt="" style="margin-left:8px;margin-top:3px;height: 102px;width: 106px">
            </a>
          </div>
          <div *ngIf="i >= 3" style="height: 35px;margin-top: 2px;">
            <a [routerLink]="['/commentDetail']" [queryParams]="{ filmOid : filmHot.oid , userOid: currentUser.oid }">
              <li style="list-style:none;">
                <span>{{i + 1}}. </span>
                <span class="ck1">{{filmHot.film_name}}</span>
              </li>
            </a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

