.carousel-container {
  margin-bottom: 40px;
}

.pc_imgBox{
  display: block;
  height: 210px;
  width: 100%;
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;
}
.carousel-indicators{
  background: #ccc;
}

.imageStyle {
  width: 185px;
  height: 200px;
}
.productStyle {
  padding-left: 1px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.ant-input-group-wrapper {
  display: inline-block;
  width: 220px;
  text-align: start;
  vertical-align: top;
  margin-top: 8px;
  left: 1108px;
  position: absolute;
}

.ant-btn-primary {
  color: #fff;
  background-color: #3c92dc;
  border-color: #3c92dc;
  text-shadow: 0 -1px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 0 rgba(0,0,0,.045);
}

::-webkit-scrollbar-thumb{
  background-color:#ddd;
}
::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}

a:focus, a:hover {
   text-decoration: none;
  color: #337ab7;
}

a {
  color: black;
  text-decoration: none;
}


.nav-tabs>li>a {
  margin-bottom: 4px;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
}


.ant-tag {
  box-sizing: border-box;
  margin: 0 8px 0 0;
  height: 22px;
  padding: 0 7px;
  line-height: 20px;
  white-space: nowrap;
  background: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
  opacity: 1;
  transition: all .3s cubic-bezier(.215,.61,.355,1);
  border: none;
}
