<div class="padding-md" style="margin-top: 72px;margin-left: 0;padding-left:0;padding-bottom:0;margin-right: 145px;">
  <div>
    <div class="smart-widget">
      <div class="smart-widget-inner">
        <div class="smart-widget-body" id="boxscroll"
             style="height: 750px; overflow: hidden; position: relative; outline: none; background: white; overflow-y: auto"
             tabindex="1">
          <div class="tab-content" id="boxscrollContent"
               style="transition: transform 0ms ease-out; transform: translate3d(0px, 0px, 0px);">
            <div class="tab-pane fade active in" id="profileTab1" style="padding-bottom:20px;">

              <div class="tab-pane fade active in" id="messages-2">

                <div class="d-flex flex-row comment-row" style="height: 102px;">
                  <div class="comment-text w-1001">
                    <div class="topYui">
                      <input type="checkbox" style="display:none;" class="icc1" name="" value="">
                    </div>
                    <h5><img src="images/E10.png" alt="">&nbsp;&nbsp;雅典娜 <label class="text-muted">转入E10 &nbsp;<span
                      style="color:#e36159;">异常事件</span></label>
                    </h5>

                    <p class="cr-blue"> 请购转采购</p>
                    <div class="comment-footer ">

                      <span class="text-muted pull-left"> 11月20日 7:30</span>
                      <span class="pull-right">
                                                    <span class="action-icons1"
                                                          style="margin-right: 20px; display: none;">
                                                        <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                           data-original-title="删除" id="sta"><i
                                                          class="fa fa-trash-o"></i></a>&nbsp;&nbsp;

                                                        <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                           data-original-title="转任务" id="sta"><i
                                                          class="fa fa-external-link"></i></a>&nbsp;&nbsp;

                                                        <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                           data-original-title="关注" id="sta"><i class="fa fa-star"></i></a>&nbsp;&nbsp;

                                                        <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                           data-original-title="点赞"><i class="fa fa-thumbs-up"></i>&nbsp;<i>6</i></a>

                                                    </span>
                                                    <a class="text-z" style="font-weight:bold;margin-right: 30px;">评论
                                                        (<i class="z-num">28</i>)
                                                    </a>
                                                </span>
                    </div>
                  </div>
                </div>


                <div class="panel-footer jkl" style="border-top:none;display:none;height: 102px;">
                  <div class="media">
                    <ul class="media-list">
                      <div class="panel-body" style="padding:0;">
                        <textarea placeholder="让大家一起分享快乐的你···" class="form-control" id="tex1"
                                  style="resize:none"></textarea>
                      </div>
                      <div class="panel-footer"
                           style="border-right: 1px solid rgb(221, 221, 221); border-bottom: 1px solid rgb(221, 221, 221); border-left: 1px solid rgb(221, 221, 221); border-image: initial; border-top: none; padding: 15px 15px 30px; display: none;"
                           id="tex2">
                        <div class=" pull-left">
                          <a href="" class="tooltips" data-toggle="tooltip" title="" data-original-title="添加附件"><i
                            class="fa fa-paperclip"></i></a>&nbsp;&nbsp;
                        </div>
                        <div class=" pull-right" style="margin-right: -1%;">
                          <button class="btn btn-info btn-xs pull-right">回复</button>
                        </div>
                      </div>
                    </ul>

                    <ul class="media-list" style="padding-bottom:15px;">
                      <li class="media">
                        <div class="media-body">
                          <p><span style="font-weight:bold;">王x：</span> 已完成总进度的80%，这个礼拜五之前可以交付。</p>
                          <div class="date-dz">
                            <span class=" pull-left comment-time">11月12日 9:32</span>
                            <div class=" pull-right comment-pl-block">
                              <a href="#" class="removeBlock1" style="display: none;"><i class="fa fa-trash-o"></i></a>

                              <a href="#" style="margin-left:10px;" class="reply1"><i
                                class="fa fa-commenting-o"></i></a>

                              <span style="margin-left:10px;margin-right:10px;">|</span>
                              <a href="#"><i class="fa fa-thumbs-up"></i>&nbsp;(<i class="z-num">12</i>)</a>
                            </div>
                          </div>
                        </div>
                        <div class="media-foot1">
                          <ul class="media-list" style="margin-bottom:20px;">
                            <div class="panel-body" style="padding:0;">
                              <textarea placeholder="让大家一起分享快乐的你···" class="form-control tex1"
                                        style="resize:none;"></textarea>
                            </div>
                            <div class="panel-footer"
                                 style="border: 1px solid #dddddd; border-top:none;padding: 15px 15px 30px 15px;">
                              <div class=" pull-left">
                                <a href="" class="tooltips" data-toggle="tooltip" title="" data-original-title="添加附件"><i
                                  class="fa fa-paperclip"></i></a>&nbsp;&nbsp;
                              </div>
                              <div class=" pull-right" style="margin-right: -1%;">
                                <button class="btn btn-info btn-xs pull-right">回复</button>
                              </div>
                            </div>
                          </ul>
                        </div>
                      </li>
                    </ul>

                    <ul class="media-list" style="border-top:1px solid #ddd;padding-top:10px;">
                      <li class="media" style="margin-bottom:10px;">
                        <div class="media-body">
                          <p><span style="font-weight:bold;">王x：</span>任务已完成</p>
                          <div class="date-dz">
                            <span class=" pull-left comment-time">11月15日 15:00</span>
                            <div class=" pull-right comment-pl-block">
                              <a href="#" style="margin-left:10px;" class="replyA"><i
                                class="fa fa-commenting-o"></i></a>
                              <span style="margin-left:10px;margin-right:10px;">|</span>
                              <a href="#"><i class="fa fa-thumbs-up"></i>&nbsp; (<i class="z-num">20</i>)</a>
                            </div>
                          </div>
                        </div>
                        <div class="media-foot2">
                          <ul class="media-list" style="margin-bottom:20px;">
                            <div class="panel-body" style="padding:0;">
                              <textarea placeholder="让大家一起分享快乐的你···" class="form-control tex1"
                                        style="resize:none;"></textarea>
                            </div>
                            <div class="panel-footer"
                                 style="border: 1px solid #dddddd; border-top:none;padding: 15px 15px 30px 15px;">
                              <div class=" pull-left">
                                <a href="" class="tooltips" data-toggle="tooltip" title="" data-original-title="添加附件"><i
                                  class="fa fa-paperclip"></i></a>&nbsp;&nbsp;
                              </div>
                              <div class=" pull-right" style="margin-right: -1%;">
                                <button class="btn btn-info btn-xs pull-right">回复</button>
                              </div>
                            </div>
                          </ul>
                        </div>
                      </li>

                      <li style="margin-left:50px;background:#f7fafa;padding-bottom:15px;padding-left:10px;">
                        <div class="media-body">
                          <p><span style="font-weight:bold;"> 李x：</span> 请邮件详细说明</p>
                          <div class="date-dz">
                            <span class=" pull-left comment-time">11月20日 11:30</span>
                            <div class=" pull-right comment-pl-block">

                              <a href="#" style="margin-left:10px;" class="reply3"><i
                                class="fa fa-commenting-o"></i></a>
                              <span style="margin-left:10px;margin-right:10px;">|</span>
                              <a href="#"><i class="fa fa-thumbs-up"></i>&nbsp; (<i class="z-num">24</i>)</a>
                            </div>
                          </div>
                        </div>
                        <div class="media-foot3">
                          <ul class="media-list" style="margin-bottom:20px;">
                            <div class="panel-body" style="padding:0;">
                              <textarea placeholder="让大家一起分享快乐的你···" class="form-control tex1"
                                        style="resize:none;"></textarea>
                            </div>
                            <div class="panel-footer"
                                 style="border: 1px solid #dddddd; border-top:none;padding: 15px 15px 30px 15px;">
                              <div class=" pull-left">
                                <a href="" class="tooltips" data-toggle="tooltip" title="" data-original-title="添加附件"><i
                                  class="fa fa-paperclip"></i></a>&nbsp;&nbsp;
                              </div>
                              <div class=" pull-right" style="margin-right: -1%;">
                                <button class="btn btn-info btn-xs pull-right">回复</button>
                              </div>
                            </div>
                          </ul>
                        </div>
                      </li>

                      <li
                        style="margin-left:50px;background:#f7fafa;padding-bottom:15px;padding-top:15px;padding-left:10px;">
                        <div class="media-body">
                          <p><span style="font-weight:bold;">谢x：</span> 也请抄送一份发给我，谢谢</p>
                          <div class="date-dz">
                            <span class=" pull-left comment-time">11月22日 15:30</span>
                            <div class=" pull-right comment-pl-block">

                              <a href="#" style="margin-left:10px;" class="reply4"><i
                                class="fa fa-commenting-o"></i></a>

                              <span style="margin-left:10px;margin-right:10px;">|</span>
                              <a href="#"><i class="fa fa-thumbs-up"></i>&nbsp; (<i class="z-num">12</i>)</a>
                            </div>
                          </div>
                        </div>
                        <div class="media-foot4">
                          <ul class="media-list" style="margin-bottom:20px;">
                            <div class="panel-body" style="padding:0;">
                              <textarea placeholder="让大家一起分享快乐的你···" class="form-control tex1"
                                        style="resize:none;"></textarea>
                            </div>
                            <div class="panel-footer"
                                 style="border: 1px solid #dddddd; border-top:none;padding: 15px 15px 30px 15px;">
                              <div class=" pull-left">
                                <a href="" class="tooltips" data-toggle="tooltip" title="" data-original-title="添加附件"><i
                                  class="fa fa-paperclip"></i></a>&nbsp;&nbsp;
                              </div>
                              <div class=" pull-right" style="margin-right: -1%;">
                                <button class="btn btn-info btn-xs pull-right">回复</button>
                              </div>
                            </div>
                          </ul>
                        </div>
                      </li>
                    </ul>

                    <ul class="media-list pull-right" style="margin-top:20px;">
                      <p style="font-weight:bold;">
                        <a href="#" style="color:#3b9cd6;">查看全部28条</a>
                      </p>
                    </ul>
                  </div>
                </div>

                <div class="d-flex flex-row comment-row" style="height: 102px;">
                  <div class="comment-text w-1002">
                    <div class="topYui">
                      <input type="checkbox" style="display:none;" class="icc2" name="" value="">
                    </div>
                    <h5><img src="images/E10.png" alt="">&nbsp;&nbsp; 雅典娜 <label class="text-muted">转入E10 例行事件
                      &nbsp;<span style="color:#56c556;">(已转任务)</span></label></h5>
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月20日 7:30</span>
                      <span class="pull-right">
                                                        <span class="action-icons2"
                                                              style="margin-right: 20px; display: none;">
                                                            <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                               data-original-title="删除" id="sta"><i
                                                              class="fa fa-trash-o"></i></a>&nbsp;&nbsp;

                                                            <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                               data-original-title="转任务" id="sta"><i
                                                              class="fa fa-external-link"></i></a>&nbsp;&nbsp;

                                                            <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                               data-original-title="关注" id="sta"><i
                                                              class="fa fa-star"></i></a>&nbsp;&nbsp;

                                                            <a href="#" class="tooltips" data-toggle="tooltip" title=""
                                                               data-original-title="点赞"><i class="fa fa-thumbs-up"></i>&nbsp;<i>6</i></a>
                                                        </span>
                                                        <a href="#" class=""
                                                           style="font-weight:bold;margin-right: 30px;">评论
                                                            (<i class="z-num">0</i>)

                                                        </a>
                                                    </span>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row comment-row" style="height: 102px;">
                  <div class="comment-text w-1003">
                    <div class="topYui">
                      <input type="checkbox" style="display:none;" class="icc3" name="" value="">
                    </div>
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李志江 <label class="text-muted">投诉单一张</label>
                    </h5>
                    <!--<span class="badge badge-danger pull-right" style="margin-top:-30px;">非常紧急</span>-->
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月20日 7:30</span>
                      <span class="pull-right">
                                                            <span class="action-icons3"
                                                                  style="margin-right: 20px; display: none;">
                                                                  <a href="#" class="tooltips" data-toggle="tooltip"
                                                                     title="" data-original-title="删除" id="sta"><i
                                                                    class="fa fa-trash-o"></i></a>&nbsp;&nbsp;

                                                                <a href="#" class="tooltips" data-toggle="tooltip"
                                                                   title="" data-original-title="关注" id="sta"><i
                                                                  class="fa fa-star"></i></a>&nbsp;&nbsp;

                                                                <a href="#" class="tooltips" data-toggle="tooltip"
                                                                   title="" data-original-title="点赞"><i
                                                                  class="fa fa-thumbs-up"></i>&nbsp;<i>6</i></a>
                                                            </span>
                                                            <a href="#" class=""
                                                               style="font-weight:bold;margin-right: 30px;">评论
                                                                (<i class="z-num">0</i>)

                                                            </a>
                                                        </span>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row comment-row" style="height: 102px;">
                  <div class="comment-text w-1004">
                    <div class="topYui">
                      <input type="checkbox" style="display:none;" class="icc4" name="" value="">
                    </div>
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李志江 <label class="text-muted">投诉单一张</label>
                    </h5>
                    <!--<span class="badge badge-warning pull-right" style="margin-top:-30px;">紧急</span>-->
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月20日 7:30</span>
                      <span class="pull-right">
                                                                <span class="action-icons4"
                                                                      style="margin-right: 20px; display: none;">

                                                                    <a href="#" class="tooltips" data-toggle="tooltip"
                                                                       title="" data-original-title="关注" id="sta"><i
                                                                      class="fa fa-star"></i></a>&nbsp;&nbsp;

                                                                    <a href="#" class="tooltips" data-toggle="tooltip"
                                                                       title="" data-original-title="点赞"><i
                                                                      class="fa fa-thumbs-up"></i>&nbsp;<i>6</i></a>
                                                                </span>
                                                                <a href="#" class=""
                                                                   style="font-weight:bold;margin-right: 30px;">评论
                                                                    (<i class="z-num">0</i>)

                                                                </a>
                                                            </span>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row comment-row" style="height: 102px;">
                  <div class="comment-text w-1005">
                    <div class="topYui">
                      <input type="checkbox" style="display:none;" class="icc5" name="" value="">
                    </div>
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李腾飞 <label class="text-muted">问题任务汇报</label>
                    </h5>

                    <p class="cr-blue">
                      移动平台设计初稿已完成</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月29日 4:30</span>
                      <span class="pull-right">
                                                                    <span class="action-icons5"
                                                                          style="margin-right:20px;display:none;">

                                                                        <a href="#" class="tooltips"
                                                                           data-toggle="tooltip" title=""
                                                                           data-original-title="关注" id="sta"><i
                                                                          class="fa fa-star"></i></a>&nbsp;&nbsp;

                                                                        <a href="#" class="tooltips"
                                                                           data-toggle="tooltip" title=""
                                                                           data-original-title="点赞"><i
                                                                          class="fa fa-thumbs-up"></i>&nbsp;<i>6</i></a>
                                                                    </span>
                                                                    <a href="#" class=""
                                                                       style="font-weight:bold;margin-right: 30px;">评论
                                                                        (<i class="z-num">0</i>)

                                                                    </a>
                                                                </span>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row comment-row">
                  <div class="comment-text ">
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李志江 <label class="text-muted">投诉单一张</label>
                    </h5>
                    <!--<span class="badge badge-danger pull-right" style="margin-top:-30px;">非常紧急</span>-->
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月29日 4:30</span>
                      <span class="pull-right">
                                                                        <span class=""
                                                                              style="margin-right:20px;display:none;">


                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="添加标签"><i
                                                                              class="fa fa-tags"></i></a>&nbsp;&nbsp;

                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="特别关注" id="sta"><i
                                                                              class="fa fa-star"></i></a>
                                                                        </span>
                                                                        <a href="#" class=""
                                                                           style="font-weight:bold;margin-right: 30px;">评论
                                                                            (<i class="z-num">0</i>)

                                                                        </a>
                                                                    </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row comment-row">
                  <div class="comment-text ">
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李志江 <label class="text-muted">投诉单一张</label>
                    </h5>
                    <!--<span class="badge badge-danger pull-right" style="margin-top:-30px;">非常紧急</span>-->
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月29日 4:30</span>
                      <span class="pull-right">
                                                                        <span class=""
                                                                              style="margin-right:20px;display:none;">


                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="添加标签"><i
                                                                              class="fa fa-tags"></i></a>&nbsp;&nbsp;

                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="特别关注" id="sta"><i
                                                                              class="fa fa-star"></i></a>
                                                                        </span>
                                                                        <a href="#" class=""
                                                                           style="font-weight:bold;margin-right: 30px;">评论
                                                                            (<i class="z-num">0</i>)

                                                                        </a>
                                                                    </span>
                    </div>
                  </div>
                </div>
                <div class="d-flex flex-row comment-row">
                  <div class="comment-text ">
                    <h5><img src="images/touxiang.png" alt="">&nbsp;&nbsp; 李志江 <label class="text-muted">投诉单一张</label>
                    </h5>
                    <!--<span class="badge badge-danger pull-right" style="margin-top:-30px;">非常紧急</span>-->
                    <p class="cr-blue">
                      集成问题已处理好 ，相似处理说明</p>
                    <div class="comment-footer ">
                      <span class="text-muted pull-left"> 11月29日 4:30</span>
                      <span class="pull-right">
                                                                        <span class=""
                                                                              style="margin-right:20px;display:none;">


                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="添加标签"><i
                                                                              class="fa fa-tags"></i></a>&nbsp;&nbsp;

                                                                            <a href="#" class="tooltips"
                                                                               data-toggle="tooltip" title=""
                                                                               data-original-title="特别关注" id="sta"><i
                                                                              class="fa fa-star"></i></a>
                                                                        </span>
                                                                        <a href="#" class=""
                                                                           style="font-weight:bold;margin-right: 30px;">评论
                                                                            (<i class="z-num">0</i>)

                                                                        </a>
                                                                    </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
