<div class="wrapper" style="background: whitesmoke;height: 810px;">
  <header class="top-nav ">
    <div>
      <div class="nav-header">
        <button type="button" class="navbar-toggle pull-left sidebar-toggle" id="sidebarToggleSM">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <ul class="nav-notification pull-right">
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog fa-lg"></i></a>
            <span class="badge badge-danger bounceIn">1</span>
            <ul class="dropdown-menu dropdown-sm pull-right user-dropdown">
              <li class="user-avatar">
                <div class="user-content">
                  <h5 class="no-m-bottom">Jane Doe</h5>
                  <div class="m-top-xs">
                    <a class="m-right-sm">Profile</a>
                    <a>Log out</a>
                  </div>
                </div>
              </li>
              <li>
                <a>
                  Inbox
                  <span class="badge badge-danger bounceIn animation-delay2 pull-right">1</span>
                </a>
              </li>
              <li>
                <a>
                  Notification
                  <span class="badge badge-purple bounceIn animation-delay3 pull-right">2</span>
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a>Setting</a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="brand" style="padding-left:45px;margin-top: -3px;">
        </a>
      </div>
      <div class="nav-container">
        <ul class="nav-notification" style="margin-left:125px;">
          <li class="nav-item" style="margin-right: 1px;">
            <a [routerLink]="['/home', currentUser.oid]">
              <i class="fa fa-home" style="font-size:15px;margin-right:13px;"></i>
              <span class="font-bold" style="font-size:18px;">主页</span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 1px;">
            <a [routerLink]="['/filmComment', currentUser.oid]">
              <i class=" fa fa-clone" style="font-size:14px;margin-right:13px;"></i>
              <span class="font-bold" style="font-size:19px;">影评</span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 1px;">
            <a [routerLink]="['/filmType', currentUser.oid]">
              <i class="fa fa-file-text-o" style="font-size:14px;margin-right:13px;"></i>
              <span class="font-bold" style="font-size:18px;">分类</span>
            </a>
          </li>
          <li class="nav-item" style="margin-right: 1px;">
            <a [routerLink]="['/myPart', currentUser.oid]">
              <i class="fa fa-file-text-o" style="font-size:14px;margin-right:13px;"></i>
              <span class="font-bold" style="font-size:18px;">我的</span>
            </a>
          </li>
        </ul>
        <div class="pull-right m-right-sm">
          <ul class="nav-notification">
            <li>
              <a data-toggle="dropdown"><img src="assets/img/navbar/inform.png" alt=""
                                             style="height: 24px;width: 24px;"></a>
              <span class="badge badge-danger bounceIn animation-delay6 active">3</span>
              <ul class="dropdown-menu message pull-right" style="border: none;margin-top: 3px;">
                <li style="padding:10px">
                  <span>您共有3条消息</span>
                  <span class="pull-right"> <i class="fa fa-angle-double-right" style="font-size:18px;"></i></span>
                </li>
                <li>
                  <a class="clearfix">
                    <img src="assets/img/navbar/touxiang-men.png" alt="User Avatar">
                    <div class="detail">
                      <strong>仲梦阳</strong>
                      <p class="no-margin">
                        样式修改更新，请查收
                      </p>
                      <small class="text-muted"><i class="fa fa-check text-success"></i> 27分钟前</small>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="clearfix">
                    <img src="assets/img/navbar/touxiang-women.png" alt="User Avatar">
                    <div class="detail">
                      <strong>王凯</strong>
                      <p class="no-margin">
                        js效果已部署
                      </p>
                      <small class="text-muted"><i class="fa fa-check text-success"></i> 5小时前</small>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="clearfix">
                    <img src="assets/img/navbar/touxiang-men2.png" alt="User Avatar">
                    <div class="detail m-left-sm">
                      <strong>xxx</strong>
                      <p class="no-margin">
                        雅典娜发来一条需处理动态
                      </p>
                      <small class="text-muted"><i class="fa fa-reply"></i> 11月22日 9:30</small>
                    </div>
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="currentUser.role == 'admin'">
              <a data-toggle="dropdown"><img src="assets/img/navbar/add.png" alt=""
                                             style="height: 24px;width: 24px;"></a>
              <ul class="dropdown-menu notification  pull-right" style="border: none;margin-top: 5px;">
                <li>
                  <a (click)="showFilmModal()">
                    <i class="fa fa-plus" style="margin-left:7px;"></i>
                    <span class="m-left-xs">新增电影</span>
                  </a>
                </li>
                <li>
                  <a (click)="showFilmTypeModal()">
                    <i class="fa fa-plus" style="margin-left:7px;"></i>
                    <span class="m-left-xs">新增电影分类</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <div class="user-block hidden-xs" style="margin-left:10px;">
            <a id="userToggle" data-toggle="dropdown">
              <img src="assets/img/navbar/touxiang-women.png" alt=""
                   class="img-circle inline-block user-profile-pic">
              <div class="user-detail inline-block" style="font-size: 18px">
                {{currentUser.username}}
                <i class="fa fa-angle-down"></i>
              </div>
            </a>
            <div class="panel border dropdown-menu user-panel">
              <div class="panel-body paddingTB-sm">
                <ul style="top:5px;">
                  <li>
                    <a>
                      <i class="fa fa-user fa-lg"></i> &nbsp;<span class="m-left-xs" (click)="showUser()">个人信息</span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <i class="fa fa-power-off fa-lg"></i> &nbsp;<span class="m-left-xs" (click)="logint()">退出</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- ./top-nav-inner -->
  </header>

  <div style="position: relative ! important; right: 0px; top: 0px;margin-top: -45px;">
    <div class="main-container">
      <div style="margin-top:5px;margin-left: 5px;margin-left:-163px;margin-right: -110px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!--新增电影模态框-->
<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" [nzClosable]="false"
          [nzFooter]="null" [nzWidth]="900" style="z-index: 15;">
  <app-create-film #createFilm (closeModel)="closeModel($event)"></app-create-film>
</nz-modal>


<!--新增电影分类模态框-->
<nz-modal [(nzVisible)]="isTypeVisible" [nzClosable]="false"
          [nzFooter]="null" [nzWidth]="900" style="z-index: 15;">
  <div class="modal-header" style="margi-top:-20px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size: 28px;"
            (click)="typeCancel()">×
    </button>
    <h4 class="modal-title" id="myFilmTypeLabel" style="font-size: 24px;">新建电影分类</h4>
  </div>
  <div class="modal-body">
    <form class="no-margin" [formGroup]="typeForm" data-validate="parsley" novalidate="">
      <div class="form-group row" style="padding:0 15px;">
        <span class="col-xs-2 control-label text-center" style="margin-top: 10px;font-size: 18px;">电影类型</span>
        <div class="col-xs-10">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group>
                <input type="text" nz-input formControlName="TYPENAME" placeholder="请输入电影类型名称" style="font-size: 18px;"
                       class="form-control" data-parsley-required="true" data-parsley-minlength="8"/>
              </nz-input-group>
              <nz-form-explain *ngIf="typeForm.get('TYPENAME')?.dirty && typeForm.get('TYPENAME')?.errors"
                               style="margin-top: 3px;color: red;font-size:16px;">
                类型名不能为空
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer" style="margin-top: -15px;">
    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="typeCancel()">取消</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()">确定</button>
  </div>
</nz-modal>


<!--个人信息模态框-->
<nz-modal [(nzVisible)]="userIsVisible" (nzOnCancel)="userCancel()" (nzOnOk)="userOk()" [nzClosable]="false"
          [nzFooter]="null" [nzWidth]="900" style="z-index: 15;">
  <app-user-detail #userDetail (closeUserModel)="closeUserModel($event)"></app-user-detail>
</nz-modal>
