<!--&lt;!&ndash;The content below is only a placeholder and can be replaced.&ndash;&gt;-->
<!--<nz-layout class="layout">-->
  <!--<nz-header>-->
    <!--<div class="logo"></div>-->
    <!--<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">-->
      <!--<li nz-menu-item>会员管理</li>-->
      <!--<li nz-menu-item>营销管理</li>-->
      <!--<li nz-menu-item>交易管理</li>-->
    <!--</ul>-->
  <!--</nz-header>-->
  <!--<nz-layout>-->
    <!--<nz-sider [nzWidth]="200" style="background:#fff">-->
      <!--<ul nz-menu [nzMode]="'inline'" style="height:100%">-->
        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="user"></i>会员管理</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>会员列表</li>-->
            <!--<li nz-menu-item>会员等级</li>-->
            <!--<li nz-menu-item>会员权益</li>-->
            <!--<li nz-menu-item>会员卡资产</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="laptop"></i>营销管理</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>营销活动</li>-->
            <!--<li nz-menu-item>优惠券列表</li>-->
            <!--<li nz-menu-item>券模板</li>-->
            <!--<li nz-menu-item>注券记录</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="notification"></i>交易管理</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>交易流水</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li nz-submenu>-->
          <!--<span title><i nz-icon type="notification"></i>成长值管理</span>-->
          <!--<ul>-->
            <!--<li nz-menu-item>购买成长值</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nz-sider>-->
    <!--<nz-layout style="padding:0 24px 24px">-->
      <!--<router-outlet></router-outlet>-->
    <!--</nz-layout>-->
  <!--</nz-layout>-->
<!--</nz-layout>-->

<!--<app-navbar></app-navbar>-->
<app-user-login></app-user-login>
