<div class="row" style="margin-top: 61px;">
  <div class="col-md-8" style="margin-left: 15px;">
    <!--正在热映-->
    <div style="margin-bottom: 6px;" class="row">
      <a style="color: black;text-decoration: none;font-size: 18px;">
        <span>正在热映</span>
      </a>
      <a [routerLink]="['filmType']">
        <img src="assets/img/navbar/lianjie.png" alt=""
             style="margin-left: 3px;height: 20px;width: 20px;margin-top: -2px;">
      </a>
    </div>
    <div class="row carousel-container" style="height: 240px;margin-bottom: 20px;">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let now of nowArr" style="height: 240px;">
          <a [routerLink]="['commentDetail', now.oid]"><img src="{{now.image_path}}" style="height: 240px;width: 1195px;"></a>
          <!--<h3>{{ index }}</h3>-->
        </div>
      </nz-carousel>
    </div>

    <!--最近热门-->
    <div style="margin-bottom: 6px;" class="row">
      <a style="color: black;text-decoration: none;font-size: 18px;">
        <span>最近热门</span>
      </a>
      <a [routerLink]="['filmType']">
        <img src="assets/img/navbar/lianjie.png" alt=""
             style="margin-left: 3px;height: 20px;width: 20px;margin-top: -2px;">
      </a>
    </div>
    <div class="row">
      <div *ngFor="let recentHot of recentHotArr" class="col-md-4 col-sm-4 col-md-4 productStyle">
        <div class="thumbnail row" style="margin-bottom: 5px;">
          <div class="col-md-6">
            <a><img [routerLink]="['commentDetail', recentHot.oid]" class="imageStyle" src="{{recentHot.image_path}}"
                 style="margin-left: 4px;"></a>
          </div>
          <div class="col-md-6">
            <a [routerLink]="['commentDetail', recentHot.oid]" >
            <!--<nz-rate [ngModel]="recentHot.star" nzDisabled></nz-rate>-->
              <p style="color: red; margin-top: 4px;">{{recentHot.star}}</p>
              <p style="margin-top: 4px;">{{recentHot.film_name}}</p>
              <p style="margin-top: 4px;">{{recentHot.film_language}}</p>
              <p style="margin-top: 4px;">{{recentHot.show_time}}</p>
              <p style="margin-top: 4px;">{{recentHot.hour}}</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3" style=" margin-left: 35px;width: 396px;margin-top: 6px">
    <div class="smart-widget-header" style="color:#3b9cd6;border-bottom: none;border-radius:0;">
      <a style="color: black;text-decoration: none;font-size: 18px;">
        <span>即将上映</span>
      </a>
      <a [routerLink]="['filmType']">
        <img src="assets/img/navbar/lianjie.png" alt=""
             style="margin-left: 3px;height: 20px;width: 20px;margin-top: -2px;">
      </a>
    </div>

    <div class="smart-widget-inner">
      <ul class="list-group to-do-list sortable-list no-border">
        <div *ngFor="let future of futureArr; let i = index">
          <li class="list-group-item ad1" style="margin-bottom: -1px;">
            <a [routerLink]="['commentDetail', future.oid]">
              <span>{{i + 1}}. </span>
              <span class="ck1">{{future.film_name}}<img alt=""
                                                         style="margin-left:15px;margin-top:-3px;"></span>
              <span class="ck1">{{future.show_time}}<img alt=""
                                                         style="margin-left:15px;margin-top:-3px;"></span>
            </a>
          </li>
        </div>

        <!-- 无数据展示 start-->
        <div *ngIf="isExistFutureArr" class="padding-md" style="padding-left:0;padding-bottom:0;">
          <div class="smart-widget-body poi text-center" style="min-height: 300px; background-color: rgb(255, 255, 255); border-radius: 3px; display: flex; height: 303px;">
            <div style="margin:auto;">
              <img src="assets/img/film/comment/nofilm.png" alt="" style="margin-bottom:15px;"><br>
              <span class="text-muted">暂无数据</span>
            </div>
          </div>
        </div>
        <!-- 无数据展示 end-->

      </ul>
    </div>

    <div class="smart-widget-header" style="color:#3b9cd6;border-bottom: none;border-radius:0;">
      <a style="color: black;text-decoration: none;font-size: 18px;">
        <span>猜你喜欢</span>
      </a>
      <a [routerLink]="['filmType']">
        <img src="assets/img/navbar/lianjie.png" alt=""
             style="margin-left: 3px;height: 20px;width: 20px;margin-top: -2px;">
      </a>
    </div>
    <div class="smart-widget-inner">
      <ul class="list-group to-do-list sortable-list no-border">
        <div *ngFor="let like of likeArr; let j = index">
          <li class="list-group-item ad1" style="margin-bottom: -1px;" *ngIf="j < 3">
            <a [routerLink]="['commentDetail', like.oid]">
              <span style="color: #ed9c23">{{j + 1}}. </span>
              <span class="ck1" style="color: #ed9c23">{{like.film_name}}<img alt=""
                                                                              style="margin-left:15px;margin-top:-3px;"></span>
              <span class="ck1" style="color: #ed9c23">{{like.star}}</span>
            </a>
          </li>


          <li class="list-group-item ad1" style="margin-bottom: -1px;" *ngIf="j >= 3">
            <a [routerLink]="['commentDetail', like.oid]">
              <span>{{j + 1}}. </span>
              <span class="ck1">{{like.film_name}}<img alt=""
                                                       style="margin-left:15px;margin-top:-3px;"></span>
              <span class="ck1">{{like.star}}</span>
            </a>
          </li>
        </div>

        <!-- 无数据展示 start-->
        <div *ngIf="isExistLikeArr" class="padding-md" style="padding-left:0;padding-bottom:0;">
          <div class="smart-widget-body poi text-center" style="min-height: 300px; background-color: rgb(255, 255, 255); border-radius: 3px; display: flex; height: 303px;">
            <div style="margin:auto;">
              <img src="assets/img/film/comment/nofilm.png" alt="" style="margin-bottom:15px;"><br>
              <span class="text-muted">暂无数据</span>
            </div>
          </div>
        </div>
        <!-- 无数据展示 end-->

      </ul>
    </div>
    <!--</div>-->
  </div>
</div>
<!--<div class="col-md-2" style="margin-top: 29px;width: 324px">-->

