.iconSelected {
  border: 2px solid #bbe6ff;
}

.form-control {
  font-family: "Rubik", sans-serif;
}

.ant-form-item {
  margin: 0 0 0;
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  vertical-align: top;
}


element.style {
  display: block;
  user-select: none;
  /* font-size: 14px; */
}
.ant-select-selection--multiple .ant-select-selection__placeholder {
  margin-left: 6px;
}

i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}


