<div class="row" style="margin-top: 60px;">
  <div class="col-md-9">
    <ul class="nav nav-tabs tab-style2 tab-right" id="tabTop"
        style="margin-bottom: 1px;border-bottom: 0 solid #ddd;font-size: 18px;">
      <li class="dropdown" style="margin-top:7px;margin-left:5px;"></li>
      <li class="active" (click)="showTab(0)">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class=" fa fa-clone"></i></span>
          <span class="text-wrapper">全部</span>
        </a>
      </li>

      <li class="" (click)="showTab(type.oid)" *ngFor="let type of fimType">
        <a data-toggle="tab" aria-expanded="true">
          <span class="icon-wrapper"><i class="fa fa-flag-o"></i></span>
          <span class="text-wrapper">{{type.type_name}}</span>
        </a>
      </li>


      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="position: absolute;">
        <input type="text" nz-input placeholder="input search text" [(ngModel)]="filmName"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch (click)="searchTitle()"><i nz-icon type="search"></i></button>
      </ng-template>
    </ul>

    <div class="row" style="height: 750px; overflow-y: auto;margin-left: 4px;padding-bottom: 60px">
      <div *ngFor="let film of films" class="col-md-4 col-sm-4 col-md-4 productStyle">
        <div class="thumbnail" style="margin-top: 10px;">

          <div class="col-md-6" style="margin-top: 6px;">
            <img [routerLink]="['product', film.oid]" class="imageStyle" src="{{film.image_path}}"
                 style="margin-left: 4px;">
          </div>
          <div class="col-md-6" style="margin-top: 6px;">
            <nz-rate [ngModel]="film.star" nzDisabled></nz-rate>
            <p style="margin-top: 4px;">{{film.film_name}}</p>
            <p style="margin-top: 4px;">{{film.film_language}}</p>
            <p style="margin-top: 4px;">{{film.show_time}}</p>
            <p style="margin-top: 4px;">{{film.hour}}</p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="margin-top: 29px;width: 324px">
    <div class="smart-widget-header" style="color:#3b9cd6;border-bottom: none;border-radius:0;">
      <a class="tooltips" style="color:#ff9a32;font-size: 18px;"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;口碑排行榜...</a>
    </div>
    <div class="smart-widget-inner">
      <ul class="list-group to-do-list sortable-list no-border">
        <li class="list-group-item ad1" style="height: 45px;">
          <span>1.</span>
          <span class="ck1">部门会议<img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
        <li class="list-group-item ad1">
          <span>1.</span>
          <span class="ck1">部门会议 <img src="images/item.png" alt="" style="margin-left:15px;margin-top:-3px;"></span>
        </li>
      </ul>

      <!--<div class="smart-widget-header" style="color:#3b9cd6;border-top:1px solid #ddd;border-bottom: none;border-radius:0;">-->
      <!--<a href="#" class="tooltips" style="color:#ff9a32;"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;三天到期任务</a>-->
      <!--</div>-->
    </div>
  </div>
</div>

